.user-input-site-wrapper{
    width: 330px;
    height: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
}

.place-number-input{
    margin: 20px;
}
.chceckbox-seats-next-to-each-others{
    margin-bottom: 20px;
}

.place-number-input{
    width: 100%;
}
.place-number-input span{
    float: left;
}


.user-input-button{
    padding:5px;
    width: 100%;
    background: none;
    cursor: pointer;
    border: 1px solid white;
    transition: 0.2s ease;
}

.user-input-button:hover{
    border-color: rgb(0, 97, 201);
    color: white;
}

.user-input-link{
    color: white;
    width: 100%;
}