*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vh;
  background: rgb(34,73,113);
  background: linear-gradient(264deg, rgba(34,73,113,1) 0%, rgba(21,74,92,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}   

